@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import-normalize; /* bring in normalize.css styles */

:root {
  --bg-color: #222;
  --bg-color-light: #333;
  --text-color: #fff;
  --gray-color: #999;
  --primary-color: #3b7fde;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  scroll-padding-top: 75px; /* height of sticky header */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
  letter-spacing: 2.5px;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-style: oblique;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
}

main,
section {
  padding: 3em 1em;
}

footer {
  padding: 3em 1em;
}

img {
  max-width: 100%;
  height: auto;
}

// Buttons
.button {
  padding: 0.75em 2em;
  color: var(--bg-color-light);
  border: none;
  cursor: pointer;
  border-radius: 5px;

  &--primary {
    background: var(--primary-color);
    color: #fff;
  }
}

// Utilities
.container {
  width: 90%;
  height: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

// Header
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color-light);
  height: 75px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;

  .container {
    justify-content: space-between;
  }

  nav {
    width: 100%;
    justify-content: flex-end;
  }

  p {
    margin: 0;
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: bold;
  }

  nav li {
    display: inline-block;
  }

  a.active {
    color: var(--primary-color);
  }

  li + li {
    margin-left: 1em;
  }

  .nav-item {
    color: var(--text-color);
    padding: 0.5em;
    transition: box-shadow 550ms ease-out;
  }

  .nav-item:hover,
  .nav-item:focus {
    color: var(--primary-color);
    box-shadow: inset 0 -50px 0 #fff;
  }
}

// Hero
#hero {
  margin-top: 75px;
  height: calc(100vh - 75px);
  min-height: calc(100vh - 75px);

  .container {
    flex-direction: column;
  }

  h1,
  p {
    text-align: center;
  }

  h1 {
    letter-spacing: 2.5px;
    padding: 0 0.5em;
    margin: 0 0 0.5em 0;
    font-size: 2.75rem;
    transition: box-shadow 550ms ease-out;
  }

  h1:hover {
    color: #fff;
    box-shadow: inset 0 -70px 0 var(--primary-color);
  }

  p {
    font-size: 1.2rem;
    margin: 0;
  }

  i {
    font-size: 0.8rem;
    color: var(--gray-color);
  }

  a {
    // text-transform: uppercase;
    font-size: 1.15rem;
    margin-top: 2em;
    letter-spacing: 1px;
  }

  @media (min-width: 321px) {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }

    i {
      font-size: 1rem;
    }
  }
}

// Projects
#projects {
  background: var(--bg-color-light);

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;

    h3 {
      color: #fff;
    }
  }

  .project-card {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;

    .image {
      width: 100%;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }

    .information {
      padding: 1em;

      h3 {
        font-style: normal;
        margin: 0;
        font-size: 1.1rem;
        letter-spacing: normal;
      }

      p {
        font-size: 0.75rem;
      }

      p.company {
        color: var(--gray-color);
        margin: 0;
        font-size: 0.65rem;
      }

      .links {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .links .link {
        // flex: 0 0 75px;
        font-size: 0.8rem;
        border: 1px solid var(--primary-color);
        padding: 0.5em 1em;
        margin: 0.5em;
      }

      .links .link:hover {
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }

  // @media (min-width: 760px) {
  //   .projects-container {
  //     grid-template-columns: repeat(2, 1fr);
  //   }
  // }

  // @media (min-width: 1024px) {
  //   .projects-container {
  //     grid-template-columns: repeat(3, 1fr);
  //   }
  // }

  // @media (min-width: 1024px) {
  //   .projects-container {
  //     grid-template-columns: repeat(3, 1fr);
  //   }
  // }
}

// About me
#about {
  // background: var(--bg-color-light);
  // height: calc(100vh - 75px);
  // min-height: calc(100vh - 75px);

  h2,
  h3 {
    margin-top: 0;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .information {
    flex-direction: column;
    margin-bottom: 2em;
  }

  .image {
    position: relative;
    margin: 2em auto 0 auto;
    text-align: center;
    // width: 500px;
    // box-shadow: 5px 5px 0px black;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      width: 50%;
      height: 50%;
      top: -10px;
      left: -10px;
      background: var(--bg-color);
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 50%;
      bottom: -10px;
      right: -10px;
      background: var(--bg-color);
      z-index: -1;
    }

    img {
      display: block;
    }
  }

  p {
    text-align: justify;
  }

  .skills {
    width: 100%;
    flex-wrap: wrap;
    // justify-content: space-between;

    .skill {
      text-align: center;
      padding: 1em;
      min-width: 150px;
      flex: 1 0 25%;

      i {
        height: 150px;
      }

      p {
        text-align: center;
        color: var(--gray-color);
      }
    }
  }

  @media (min-width: 760px) {
    .information {
      flex-direction: row;
    }

    .image {
      min-width: 400px;
      margin-left: 2.5em;
    }
  }
}

#contact {
  background: var(--bg-color-light);
}

#footer {
  text-align: center;

  span {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  ul li {
    padding: 0 1em;
  }
}
