@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import-normalize; /* bring in normalize.css styles */

:root {
  --bg-color: #222;
  --bg-color-light: #333;
  --text-color: #fff;
  --gray-color: #999;
  --primary-color: #3b7fde;
  --yellow-color: #f8d210;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  scroll-padding-top: 75px; /* height of sticky header */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

label {
  font-family: inherit;
  font-size: 0.85rem;
}

input,
textarea,
select {
  font-family: inherit;
  padding: 0.5em 0.75em;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  letter-spacing: 2.5px;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-style: oblique;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: inherit;
}

button {
  border: none;
  font-family: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

main,
section,
footer {
  padding: 1.5em 0.5em;

  h2 {
    display: inline-block;
    transition: box-shadow 550ms ease-out;
  }

  h2:hover {
    color: #fff;
    box-shadow: inset 0 -70px 0 var(--primary-color);
  }

  @media (min-width: 768px) {
    padding: 3em 1em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// Buttons
.button {
  padding: 0.75em 2em;
  color: var(--bg-color-light);
  border: none;
  cursor: pointer;
  border-radius: 5px;

  &--primary {
    background: var(--primary-color);
    color: #fff;
  }

  &:active {
    transform: scale(0.98);
  }
}

// Utilities
.container {
  width: 90%;
  height: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

// Header
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color-light);
  height: 75px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;

  .container {
    justify-content: space-between;
  }

  nav {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out, opacity 500ms ease;
    opacity: 0;
  }

  nav.active {
    transform: translateX(0);
    opacity: 1;
  }

  nav ul {
    display: grid;
    gap: 1em;
    font-size: 2rem;
    text-align: center;
  }

  p {
    margin: 0;
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: bold;
  }

  a.active {
    color: var(--primary-color);
  }

  .nav-item {
    color: var(--text-color);
    padding: 0.5em;
    transition: box-shadow 550ms ease-out, color 550ms ease-out;
  }

  .nav-item:hover,
  .nav-item:focus {
    color: var(--primary-color);
    box-shadow: inset 0 -75px 0 #fff;
  }

  .logo,
  .toggler {
    z-index: 99;
    cursor: pointer;
  }

  .toggler {
    display: grid;
    width: 50px;
    height: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;

    .hamburger-icon {
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: center;
      display: none;

      &--active {
        display: block;
      }

      &:hover {
        color: var(--yellow-color);
      }
    }
    .close-icon {
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: center;
      display: none;

      &--active {
        display: block;
      }
    }
  }

  @media (min-width: 768px) {
    nav {
      display: flex;
      position: relative;
      background: none;
      width: 100%;
      height: 75px;
      justify-content: flex-end;
      transition: none;
      transform: translateX(0);
      opacity: 1;
    }

    nav ul {
      display: inline-block;
      font-size: 1.15rem;
    }

    nav li {
      display: inline-block;
    }

    li + li {
      margin-left: 1em;
    }
    .toggler {
      display: none;
    }

    .nav-item:hover,
    .nav-item:focus {
      box-shadow: inset 0 -50px 0 #fff;
    }
  }
}

// Hero
#hero {
  margin-top: 75px;
  height: calc(100vh - 75px);
  min-height: calc(100vh - 75px);

  .container {
    flex-direction: column;
  }

  h1,
  p {
    text-align: center;
  }

  h1 {
    letter-spacing: 2.5px;
    padding: 0 0.5em;
    margin: 0 0 0.5em 0;
    font-size: 2.75rem;
    transition: box-shadow 550ms ease-out;
  }

  h1:hover {
    color: #fff;
    box-shadow: inset 0 -140px 0 var(--primary-color);
  }

  p {
    font-size: 1.2rem;
    margin: 0;
  }

  i {
    font-size: 0.8rem;
    color: var(--gray-color);
  }

  a {
    // text-transform: uppercase;
    font-size: 1.15rem;
    margin-top: 2em;
    letter-spacing: 1px;
  }

  @media (min-width: 415px) {
    h1 {
      font-size: 3rem;
    }

    h1:hover {
      color: #fff;
      box-shadow: inset 0 -70px 0 var(--primary-color);
    }

    p {
      font-size: 1.5rem;
    }

    i {
      font-size: 1rem;
    }
  }
}

// Projects
#projects {
  background: var(--bg-color-light);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  #projects-filters {
    margin-bottom: 2em;

    .selects {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1em;

    h3 {
      color: #fff;
    }
  }

  .project-card {
    // background: #222;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 250ms;

    i.private {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 1.5em;
      width: 25px;
      height: 25px;
      // background: var(--primary-color);
      background: rgba(0, 0, 0, 0.75);
      // border-top-left-radius: 10px;
      // border-bottom-left-radius: 10px;
      border-radius: 50%;
      font-size: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9;
    }

    i.private:hover {
      background: #fff;
      color: var(--primary-color);
    }

    i.featured {
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: var(--yellow-color);
    }

    .image {
      width: 100%;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 50%;
        transition: transform 350ms ease;
        transform: scaleX(0);
      }

      &::before {
        top: 0;
        left: 0;
        transform-origin: left;
      }

      &::after {
        bottom: 0;
        right: 0;
        transform-origin: right;
      }

      &:hover::before,
      &:hover::after {
        transform: scaleY(1);
      }

      .live-button,
      .gallery-button {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        opacity: 0;
        transition: opacity 250ms ease-out;

        font-size: 1rem;
        // border: 1px solid var(--primary-color);
        background: var(--primary-color);
        color: #fff;
        padding: 0.5em 2.5em;
        outline: 1px solid var(--primary-color);
        outline-offset: 2.5px;
        transition: all 250ms ease;

        &:hover {
          color: var(--primary-color);
          background: #fff;
          outline: 1px solid #fff;
        }
      }

      &:hover .live-button,
      &:hover .gallery-button {
        opacity: 1;
      }

      img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }

    .information {
      padding: 1em;

      h3 {
        font-style: normal;
        margin: 0;
        font-size: 1.1rem;
        letter-spacing: normal;
      }

      p {
        font-size: 0.75rem;
      }

      p.company {
        color: var(--gray-color);
        margin: 0;
        font-size: 0.65rem;
      }

      .links {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .links .link {
        // flex: 0 0 75px;
        font-size: 0.8rem;
        border: 1px solid var(--primary-color);
        padding: 0.5em 1em;
        margin: 0.5em;
      }

      .links .link--yellow {
        border: 1px solid var(--yellow-color);
        color: var(--yellow-color);
      }

      .links .link:hover {
        color: #fff;
        border: 1px solid #fff;
      }
    }

    .project-gallery {
      position: fixed;
      background: rgba(0, 0, 0, 0.75);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;

      .container {
        flex-direction: column;
      }

      .button-close {
        position: fixed;
        top: 0;
        right: 0;
        background: none;
        width: 100%;
        height: 100%;
      }

      .gallery-container {
        position: relative;
        background: rgba(0, 0, 0, 0.75);
        padding: 1em;
        border-radius: 10px;
        width: 100%;

        .title {
          margin: 0;
          padding: 0 0 0.5em 0;
          font-size: 1rem;
        }

        .gallery {
          position: relative;

          .item {
            position: relative;

            img {
              display: block;
              object-fit: contain;
              width: 100%;
              max-height: 65vh;
            }

            .description {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              padding: 1em;
              background: rgba(0, 0, 0, 0.5);
              font-size: 0.65rem;
            }
          }
        }

        .button-arrow-left,
        .button-arrow-right {
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          position: absolute;
          top: 50%;
          padding: 1em;
          transform: translateY(-50%);
          font-size: 0.5rem;
        }

        .button-arrow-left {
          left: 0;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        .button-arrow-right {
          right: 0;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
    }
  }

  .project-card:hover {
    // transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }

  @media (min-width: 768px) {
    .projects-container {
      grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    }

    .project-card {
      .project-gallery {
        .gallery-container {
          position: relative;
          background: rgba(0, 0, 0, 0.75);
          padding: 1em;
          border-radius: 10px;
          width: 85%;

          .title {
            font-size: 1.5rem;
          }

          .button-arrow-left,
          .button-arrow-right {
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            position: absolute;
            top: 50%;
            padding: 1em;
            transform: translateY(-50%);
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

// About me
#about {
  background: var(--bg-color);
  // height: calc(100vh - 75px);
  // min-height: calc(100vh - 75px);
  position: relative;
  z-index: 9;

  h2,
  h3 {
    margin-top: 0;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .information {
    flex-direction: column;
    margin-bottom: 2em;

    .description {
      .button {
        display: inline-block;
        letter-spacing: 1px;
        margin-bottom: 1em;
      }
    }
  }

  .image {
    position: relative;
    margin: 2em auto 0 auto;
    text-align: center;
    // width: 500px;
    // box-shadow: 5px 5px 0px black;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      width: 50%;
      height: 50%;
      top: -10px;
      left: -10px;
      background: var(--bg-color-light);
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 50%;
      bottom: -10px;
      right: -10px;
      background: var(--bg-color-light);
      z-index: -1;
    }

    img {
      display: block;
    }
  }

  p {
    text-align: justify;
  }

  .skills {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2em;
    // justify-content: space-between;

    .skill {
      text-align: center;
      padding: 1em;
      min-width: 150px;
      flex: 1 0 25%;
      transition: transform 250ms ease, color 250ms ease;

      i {
        height: 150px;
      }

      p {
        text-align: center;
        color: var(--gray-color);
        transition: color 250ms ease;
      }
    }

    .skill:hover {
      transform: scale(1.05);
      color: var(--primary-color);

      p {
        color: var(--primary-color);
      }
    }
  }

  .awards {
    width: 100%;
    margin: 0 auto;

    p {
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    .information {
      flex-direction: row;
    }

    .image {
      min-width: 400px;
      margin-left: 2.5em;
    }

    .awards {
      width: 75%;
    }
  }
}

// Contact
#contact {
  background: var(--bg-color-light);
  padding: 0;

  .container {
    padding: 3em 1em;
  }

  .arrow-down {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
  }

  #form {
    .form-group {
      margin: 1em 0;
    }

    input,
    textarea {
      width: 100%;
    }

    .button {
      letter-spacing: 1px;
      display: block;
      margin-left: auto;
    }
  }
}

#footer {
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;

  span {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  ul li {
    padding: 0 1em;
  }
}

// Utilities

.hide {
  display: none !important;
}
